.App {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}

.heroTop {
  position: absolute;
  width: 100%;
}


.App > * {
  font-family: "Inter", sans-serif;
}

button {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .split {
    flex-direction: column !important;
  }
}

.split {
  display: flex;

  flex-direction: row;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  background: rgba(255, 255, 255, 0.375);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 2rem;

  padding: 1.3rem;
}
hr {
  margin: 1.3rem;
}
h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

b {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  background: rgba(255, 255, 255, 0.375);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 100%;
  border-radius: 2rem;
}

.button {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.175);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 3%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}
