.Create {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.Create > h1 {
  align-self: center;
  margin-bottom: 10px;
}

.nameRow {
  display: flex;
  flex-direction: row;
}

.nameRow > * {
  margin-right: 10px;
}
.Create button {
  max-width: 120px;
  height: 50px;
}