.Header {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
}

.logo {
  height: 60px;
}

.logo_smol {
  height: 40px;
  display: none;
}

.overflow_menu {
  height: 50px;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .logo_smol {
    display: inline;
  }
}
.web3buttons {
  display: flex;
  align-items: center;
}

.web3buttons > * {
  margin-left: 20px;
  white-space: nowrap;
}

.right {
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.right img {
  margin-right: 10px;
}
.nav-button {
  white-space: nowrap;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: start;
}

.nav-button,
.overflow_menu {
  /* Hack to prevent clipping of box shadow */
  margin: 100% 5px;

  padding: 15px;
  border-radius: 10px;
  height: 100%;
  transition: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.overflow_menu {
  /* Fix for hack in prev style */
  height: 50px;
}
.overflowContainer .overflowElements {
  opacity: 0;
  position: absolute;
  z-index: 101;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  top: 110px;
  border-radius: 10px;
  left: 5px;
  transition: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: opacity;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.375);

  border-top-left-radius: 0;
}

.overflowContainer .overflowElements > * {

  margin: 0;
  height: auto;

  box-shadow: none !important;
  backdrop-filter: none !important;
}

.overflowContainer {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;

}

.overflowContainer:hover .overflowElements {
  visibility: visible;
  opacity: 1;
}

.overflowContainer:hover .overflow_menu {
  backdrop-filter: blur(10px);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 1%);
  background-color: rgba(255, 255, 255, 0.375);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overflowElements > *:hover {
  background-color: white !important;
}
.nav-button:hover,
.overflow_menu:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 1%);
  background-color: rgba(255, 255, 255, 0.375);
}
