/* body {
  background-image: url(../assets/hero-top.jpg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;

} */

html,
body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Inter", sans-serif;
  --color-fg-accent: #860038;
}

b {
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}