.Main {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.Main > h1 {
    align-self: center;
    margin-bottom: 10px;;
}

.electionData {
    border-radius: 10px;
    overflow: hidden;
}

.electionTitle {
    font-size: 23px;

}
