.Run {
  flex: 3;
  display: flex;
  flex-direction: column;
}



.electionTitle {
  align-self: center;
  margin-bottom: 10px;
    text-align: center;
}

.voteRow {
  display: flex;
  flex-direction: row;
}

.voteRow > * {
  margin-right: 10px;
}

.Run button {
  max-width: 120px;
  height: 50px;
}