.Sidebar {
  flex: 1;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.Sidebar > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.Sidebar > h1 {
  margin-bottom: 10px;
}

.Sidebar > ul > li {
  margin-bottom: 10px;
}

.Sidebar > ul > li > button > span {
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 768px) {
  .Sidebar {
    max-width: 100%;
  }
  .Sidebar > ul {
    max-height: 280px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
